<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
 <!--  
<suite name="Suite">	
  <test name="Shop Test Cases - Serial">
   -->
<suite name="Parallel Test Suite" parallel="classes" thread-count="4">
  <test name="Shop Test Cases - Parallel" >

  <parameter name="browsername" value="Chrome"/>
  	<classes>
 	  	<class name="tests.TC01_SetFilters"/> 
   		<class name="tests.TC02_FilterWithCategory"/> 
    	<class name="tests.TC03_SortWithPopularity"/>  
    	<class name="tests.TC04_SortWithAvgRatings"/> 
    	<class name="tests.TC05_SortWithNewRatings"/> 
    	<class name="tests.TC06_SortWithLowToHigh"/> 
    	<class name="tests.TC07_SortWithHighToLow"/>   
  <!--  <class name="tests.TC08_OutOfStock"/> -->
 		<class name="tests.TC09_SaleItems"/>  
  		<class name="tests.TC10_ViewBasket"/> 
   		<class name="tests.TC101_ItemPageViewBasket"/>  	<!-- Additional TestCase -->   
 		<class name="tests.TC11_ItemListOnMenu"/>     
  		<class name="tests.TC111_ItemPageItemListOnMenu"/> 	<!-- Additional TestCase -->   
 		<class name="tests.TC12_TaxAmount"/> 
  	</classes>
  </test>  
</suite> 